---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact" >
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contáctanos"
      description="Para realizar una compra exclusiva o mayorista, contáctanos mediante este formulario."
    />
    <Form />
  </div>
</Section>
