---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";



const cards = [
  {
    index: 1,
    titleTop: "Nike Air Max",
    titleBottom: "$65.000",
    alt: "SEO",
  
  },
  {
    index: 2,
    titleTop: "Nike Dunk",
    titleBottom: "$65.000",
    alt: "SEO",
   
  },
  {
    index: 3,
    titleTop: "Air Jordan 1",
    titleBottom: "$65.000",
    alt: "SEO",
 
  },
  {
    index: 1,
    titleTop: "Air Jordan 3",
    titleBottom: "$65.000",
    alt: "SEO",

  },
  {
    index: 2,
    titleTop: "Nike Air",
    titleBottom: "$65.000",
    alt: "SEO",
 
  },
  {
    index: 3,
    titleTop: "Air Jordan 11",
    titleBottom: "$65.000",
    alt: "SEO",
    
  },
  {
    index: 3,
    titleTop: "Air Jordan 11",
    titleBottom: "$65.000",
    alt: "SEO",
   
  },
  {
    index: 3,
    titleTop: "Air Jordan 11",
    titleBottom: "$65.000",
    alt: "SEO",
    
  },
  {
    index: 3,
    titleTop: "Air Jordan 11",
    titleBottom: "$65.000",
    alt: "SEO",
    
  },
  {
    index: 3,
    titleTop: "Air Jordan 11",
    titleBottom: "$65.000",
    alt: "SEO",
    
  },

  
];

const description =
  "En nuestra Tienda, destacamos la calidad de las G5, utilizando materiales de primera para garantizar un rendimiento excepcional.";
---

<Section id="services">
  <div class="mt-[40px] mb-1">
    <SectionTitle sectionTitle="Nuestros Productos" description={description} />
    <div class="grid justify-items-center grid-cols-2 grid-rows-2 lg:grid-cols-5 lg:grid-rows-2 gap-5">
      {cards.map((card) => (
        <a href="#" class="card">
          <div class="image">
            <img src="/pruebacardjordan.svg" alt={card.alt} class="w-96 h-64" />
          </div>
          <div class="text">
            <span>{card.titleTop}</span>
            <p>{card.titleBottom}</p>
          </div>
        </a>
      ))}
    </div>
  </div>
</Section>
