---
import { Image } from "astro:assets";
import s1 from "../../assets/company/nike.png";
import s2 from "../../assets/company/jordan.svg";
import Section from "./Section.astro";

const sponsors = [
  { logo: s1, alt: "nike logo" },
  { logo: s2, alt: "jordan logo" },
  { logo: s1, alt: "nike logo" },
  { logo: s2, alt: "jordan logo" },
  { logo: s1, alt: "nike logo" },
  { logo: s2, alt: "jordan logo" },


];
---

<Section id="sponsors">
  <div class="flex-row items-center">
  <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
    {
      sponsors.map((sponsor) => {
        return (
          <div class=" grayscale transition duration-200 hover:grayscale-0">
            <Image src={sponsor.logo} class="h-20 lg:h-24 w-auto mx-auto mb-0" alt={sponsor.alt} loading="lazy" />
          </div>
        );
      })
    }
  </div>
  </div> 
</Section>